.outer_container {
  position: relative;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  top: 100px;
  color: #ffbf00;
  font-family: OldStandardTT-Regular, Arial, sans-serif;
}

@media screen and (max-width: 1200px) {
  .header {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
  }
  .body {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
  }
  .outer_container {
    top: 80px;
  }
  .textStyling {
    animation: pulse 3s;
    font-size: 50px;
  }
  .textStyling_subheader {
    animation: pulse 3s;
    font-size: 25px;
  }
}
@keyframes pulse {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
.textStyling {
  animation: pulse 3s;
  font-size: 100px;
}

.textStyling_subheader {
  animation: pulse 3s;
  font-size: 50px;
}
