.outer_container {
  position: relative;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: fit-content;
  color: #ffbf00;
}
.textStyling {
  animation: pulse 3s;
  font-size: 6rem;
}
.imgeStyling {
  animation: pulse 3s;
  padding: 20px;
  width: 35%;
}
.textStyling_subheader {
  animation: pulse 3s;
  font-size: 2.5rem;
}
.body {
  text-align: baseline;
}
@media screen and (max-width: 1200px) {
  .outer_container {
    top: 20px;
    padding: none;
  }
  .textStyling {
    animation: pulse 3s;
    font-size: 3rem;
  }
  .textStyling_subheader {
    animation: pulse 3s;
    font-size: 1.5rem;
  }
}
@keyframes pulse {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
