.outer_container {
  position: relative;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  top: 100px;
  color: #ffbf00;
  font-family: OldStandardTT-Regular, Arial, sans-serif;
}
.textStyling {
  animation: pulse 3s;
  font-size: 6rem;
}

.textStyling_subheader {
  animation: pulse 3s;
  font-size: 2.5rem;
}

@media screen and (max-width: 1200px) {
  .outer_container {
    top: 20px;
    padding: none;
  }
  .textStyling {
    animation: pulse 3s;
    font-size: 3rem;
  }
  .textStyling_subheader {
    animation: pulse 3s;
    font-size: 1.5rem;
  }
}
@keyframes pulse {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
