.body {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}
.footer {
  font-size: 15px;
  color: gray;
}
.contactLink {
  line-height: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  color: #e49b0f;
  margin: 10px;
}
.contactLink:hover {
  color: chocolate;
}
.outer_container {
  position: relative;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  top: 50px;
  color: #e49b0f;
}

@media screen and (max-width: 1200px) {
  .imageSize {
    width: 35px;
    height: 35px;
  }
  .header {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
  }
  .body {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
  }
  .outer_container {
    top: 80px;
  }
  .footer {
    font-size: 5px;
  }
}
