.description,
.celebration,
.sizeDescription {
  text-align: center;
  font-size: 1rem;
}
.dialog_title {
  text-align: center;
  font-size: 1 rem;

  font-weight: bolder;
}
.card {
  font-size: 1.2 rem;
  margin: 0;
}
.card_subHeader {
  font-size: 0.8rem;
  margin: 0;
}
.dialog_footer {
  text-align: center;
  font-size: 1rem;
  color: gray;
}
.outer_root {
  flex: 1;
}
@media screen and (max-width: 1200px) {
  .outer_root {
    flex: none;
    max-width: none;
  }
}
