.App {
  box-sizing: border-box;
}
.particle_background {
  background-color: white;
  color: #ebd9e6;
  width: 100%;
  height: 100%;
  position: fixed;
}
.app_header {
  position: relative;
  pointer-events: none;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  color: #ebd9e6;
}

body {
  margin: 0;
  font-family: "Old Standard TT", serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

@media screen and (max-width: 1200px) {
  .inner_container {
    font-size: 20px;
  }
  .app_header {
    position: relative;
    pointer-events: none;
    color: #ebd9e6;
  }
}
