.App {
  box-sizing: border-box;
}
.particle_background {
  background-color: white;
  color: #ebd9e6;
  width: 100%;
  height: 100%;
  position: fixed;
}
.header {
  position: relative;
  pointer-events: none;
  font-family: OldStandardTT-Regular, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  color: #ebd9e6;
}

body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

@media screen and (max-width: 1200px) {
  .inner_container {
    font-size: 20px;
  }
}
@font-face {
  font-family: "OldStandardTT-Regular";
  src: local("OldStandardTT-Regular"),
    url(./fonts/OldStandardTT-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OldStandardTT-Regular";
  font-weight: 900;
  src: local("OldStandardTT-Regular"),
    url(./fonts/OldStandardTT-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OldStandardTT-Regular";
  font-weight: 900;
  src: local("OldStandardTT-Regular"),
    url(./fonts/OldStandardTT-Regular.ttf) format("truetype");
}
